body {
	background-color: #ffa500;
	height: 1000px;
}

h1	{
	color: #8a27b0;
	font-family: 'Sansita', sans-serif;
	font-size: 48px;

}

#headerImg {
	animation-duration: 2s;
	border-radius: 10px;
}

#comment {
	margin-top: 50px;
}

#comment > button {
	margin-top: 30px;
	
}



#commentText  {
	margin-top: 20px;
}

.text {
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
}

#pict {
	margin-top: 20px;
	width: 300px;
}

#postComment {
	color: #8a27b0;
	display: inline;
	font-weight: bold;
}